* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100vh;
}
.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  min-width: 450px;
}
h3 {
  background-color: #d40757;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 20px 10px;
}
.content {
  padding: 10px;
  border: 2px solid #d40757;
  border-top: unset;
}
.content p:not(:last-child) {
  margin-bottom: 10px;
}
.content p {
  font-size: 18px;
}
.content p b {
  font-weight: bold;
}
.btn {
  text-align: center;
  margin-bottom: 10px;
}
.btn button {
  cursor: pointer;
  outline: unset;
  border: none;
  background-color: #efb110;
  color: #fff;
  padding: 10px 15px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 0 5px;
  font-weight: 600;
  opacity: 0.9;
  transition: all 0.3s;
}
.btn button:hover {
  opacity: 1;
}
.btn button:first-child {
  background-color: #148edf;
}
.btn button:last-child {
  background-color: #ab7fde;
}
.form-group {
  margin-bottom: 15px;
}
.form-group label:first-child {
  display: block;
  margin-bottom: 5px;
}
.text-center {
  text-align: center;
}
input[type="email"],
input[type="date"],
input[type="search"],
input[type="number"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  padding: 0 0.75em;
  height: 35px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  vertical-align: middle;
  background-color: #fff;
  color: #808080;
  transition: all 0.3s;
}
[type="radio"]:not(:first-child),
[type="checkbox"]:not(:first-child) {
  margin-left: 15px;
}
input:focus {
  border-color: #eebf00;
}
input,
select {
  outline: none;
}
.required {
  color: #cc3528;
}
.date-of-birth {
  display: flex;
  justify-content: space-around;
}
.date-of-birth select {
  width: max-content;
}
.date-of-birth label {
  display: inline !important;
}
.rc {
  border: 1px solid #e5e5e5;
  padding: 0 0.75em;
  margin-bottom: 15px;
  height: 35px;
  font-size: 16px;
  line-height: 35px;
  border-radius: 8px;
  background-color: #fff;
  color: #808080;
}
